* {
	margin: 0; padding: 0;
}

body, html {
	align-items: center;
	background-color: #FFFFFF;
	color: #131313;
	display: flex;
	flex-direction: column;
	font: 12pt 'Helvetica', Arial, sans-serif;
    height: 100%;
	width: 100%;
}

.main {
	flex: 1 0 auto;
	width: 960px;
}

header {
	align-items: center;
	border-bottom: 1px solid #009900;
	display: flex;

	justify-content: center;
	height: 210px;
	padding: 1em 0;
	text-align: center;
	width: 100%;
}

.logo {
	margin: 0 auto;
	height: 100%;
}

.titletext {
	font-size: 400%;
	text-align: center;
	margin: 0 auto;
	margin-left: 0;
}

.titletext > a {
	color: #131313;
	text-decoration: none;
	transition: color 0.5s ease-out 0s;
}

.titletext > a:hover {
	color: #009900;
	transition: color 0.5s ease-out 0s;
}

.hello {
	margin: 1em;
}

.hello p {
	margin: 1em 0;
}

h1 {
	font-size: 300%;
}

label {
	display: inline-block;
	cursor: pointer;
	font-size: 200%;
	color: #009900;
	margin-left: 14pt;
	margin-top: 6pt;
	margin-bottom:6pt;
	border-bottom: 1px dashed #009900;
}

input {
	visibility: hidden;
}

#ans1, #ans2, #ans3 {
	margin-left: 2em;
	visibility: hidden;
	height: 0;
	opacity: 0;
	transform: scaleY(0);
	transition-property: height, transform, opacity;
	transition-duration: 0.1s; transition-timing-function: ease-out; transition-delay: 0s;
}

#faq1:checked + #ans1, #faq2:checked + #ans2, #faq3:checked + #ans3 {
	visibility: visible;
	height: auto;
	transform: scaleY(1);
	opacity: 1;
}

#faq1:checked + #ans1 > p, #faq2:checked + #ans2 > p, #faq3:checked + #ans3 > p {
	margin: 1em 0;
}

ul {
	margin-left: 1em;
	padding-left: 1em;
}

footer {
	flex: 0 0 auto;
	margin: 1em 0;
	text-align: center;
}

a, .green {
	color: #009900;
}

.coda {
	font-family: 'Coda', sans-serif;
}

.center {
	text-align: center;
}

.superlink {
	font-size: 200%;
}
